{% extends 'base.html' %}
{% block heading %}Stock Report{% endblock %}

{% block filter %}
<form method="get" class="filter-form">
    <input type="text" name="content" placeholder="Content" value="{{ filters.content }}">
    <input type="text" name="colour" placeholder="Colour" value="{{ filters.colour }}">
    <input type="text" name="yarn_lot" placeholder="Yarn Lot" value="{{ filters.yarn_lot }}">
    <input type="text" name="yarn_count" placeholder="Yarn Count" value="{{ filters.yarn_count }}">
    <select name="status">
        <option value="">All Statuses</option>
        <option value="in_stock" {% if filters.status == 'in_stock' %}selected{% endif %}>In Stock</option>
        <option value="out_of_stock" {% if filters.status == 'out_of_stock' %}selected{% endif %}>Out of Stock</option>
    </select>
    <button type="submit">Filter</button>
</form>
{% endblock %}


{% block table %}
<table border="1">
    <thead>
        <tr>
            <th>Yarn Count</th>
            <th>Content</th>
            <th>Yarn Lot</th>
            <th>Colour</th>
            <th>Received</th>
            <th>Issued</th>
            <th>Production Issued</th>
            <th>Production Return</th>
            <th>Total Stock</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for row in stock_list %}
        <tr>
            <td>{{ row.yarn_count }}</td>
            <td>{{ row.content }}</td>
            <td>{{ row.yarn_lot }}</td>
            <td>{{ row.colour }}</td>
            <td>{{ row.received }}</td>
            <td>{{ row.issued }}</td>
            <td>{{ row.prod_issued }}</td>
            <td>{{ row.prod_return }}</td>
            <td><strong>{{ row.total_stock }}</strong></td>
            {% if row.total_stock <= 0 %}
            <td style="background: rgb(165, 48, 48);">Out of Stock</td>
            {% else %}
            <td style="background: rgb(103, 194, 103);">In stock</td>
            {% endif %}
          
        {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block scripts %}
  const addButton = document.getElementsByClassName('add-button')[0];
    const formModal = document.getElementById('formModal')
    const closeModal= document.getElementById('closeModal')
    addButton.addEventListener('click',()=>{
        formModal.style.display = 'block'
    })

    closeModal.addEventListener('click',()=>{
        formModal.style.display = 'none'
    })
 {% endblock %}