{% extends 'base.html' %}
<h3>{% block heading %}Stock Report{% endblock %}</h3>
{% block table %}
<table border="1">
    <thead>
        <tr>
            <th>Yarn Count</th>
            <th>Content</th>
            <th>Yarn Lot</th>
            <th>Colour</th>
            <th>Received</th>
            <th>Issued</th>
            <th>Production Issued</th>
            <th>Production Return</th>
            <th>Total Stock</th>
        </tr>
    </thead>
    <tbody>
        {% for row in stock_list %}
        <tr>
            <td>{{ row.yarn_count }}</td>
            <td>{{ row.content }}</td>
            <td>{{ row.yarn_lot }}</td>
            <td>{{ row.colour }}</td>
            <td>{{ row.received }}</td>
            <td>{{ row.issued }}</td>
            <td>{{ row.prod_issued }}</td>
            <td>{{ row.prod_return }}</td>
            <td><strong>{{ row.total_stock }}</strong></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}